<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<property name="LOG_HOME" value="E:/work/commCode/Helper-nirvana" />
	<appender name="iosErrorLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/req/iosErrorLog.log</File>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
	      <fileNamePattern>iosErrorLog.log.%i</fileNamePattern>   
	      <minIndex>1</minIndex>   
	      <maxIndex>3</maxIndex>   
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="androidErrorLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/req/androidErrorLog.log</File>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
	      <fileNamePattern>iosErrorLog.log.%i</fileNamePattern>   
	      <minIndex>1</minIndex>   
	      <maxIndex>3</maxIndex>   
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="httpErrorLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/req/httpErrorLog.log</File>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
	      <fileNamePattern>iosErrorLog.log.%i</fileNamePattern>   
	      <minIndex>1</minIndex>   
	      <maxIndex>3</maxIndex>   
	    </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="monitorLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/monitor/monitorLog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/logs/monitor/monitorLog.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%thread],%msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="requestLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/req/requestLog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/logs/req/requestLog.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%thread],%msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="jmxlog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/jmxlog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/logs/jmxlog.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%thread],%msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="apiLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/apiLog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/logs/apiLog.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="fileout"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logs/helper.log</File>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level \(%logger:%line\) - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/logs/helper.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
	</appender>
	
	<logger name="httpErrorLog" additivity="false" level="INFO">
		<appender-ref ref="httpErrorLog" />
	</logger>
	<logger name="org.apache.commons.httpclient" level="ERROR" />
	<logger name="com.lolaage" level="INFO" />
	<logger name="monitorLog" additivity="false" level="INFO">
		<appender-ref ref="monitorLog" />
	</logger>
	<logger name="requestLog" additivity="false" level="INFO">
		<appender-ref ref="requestLog" />
	</logger>

	<logger name="jmxlog" additivity="false" level="INFO">
		<appender-ref ref="jmxlog" />
	</logger>
	<logger name="iosErrorLog" additivity="false" level="INFO">
		<appender-ref ref="iosErrorLog" />
	</logger>
	<logger name="org.springframework.web.servlet" level="DEBUG" />
	<logger name="apiLog" additivity="false" level="INFO">
		<appender-ref ref="apiLog" />
	</logger>
	<logger name="androidErrorLog" additivity="false" level="INFO">
		<appender-ref ref="androidErrorLog" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="stdout" />
		<appender-ref ref="fileout" />
	</root>
</configuration>